
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17, 24, 39; /* A dark gray for text */
  --background-start-rgb: 255, 255, 255; /* White */
  --background-end-rgb: 255, 255, 255;   /* White */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
