name: Spoolr CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
          
      - name: Build with Maven
        run: cd printwave-core && mvn clean compile -DskipTests
        
      - name: Run tests
        run: cd printwave-core && mvn test
        
      - name: Package application
        run: cd printwave-core && mvn package -DskipTests

  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    needs: build_and_test
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'

    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
         username: ${{ secrets.DOCKERHUB_USERNAME }}
         password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
         images: spoolr/spoolr-core

      - name: Build and push Spoolr Core API
        uses: docker/build-push-action@v5
        with:
          context: ./printwave-core
          file: ./printwave-core/Dockerfile
          push: true
          tags: spoolr/spoolr-core:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
